.ciliac-searchbox{
    margin : 0 auto;
    
    /* position: absolute; */
}
.ciliac-checkbox{
    width : 60px;
    height : 20px;
    /* border : 0px solid; */
    /* margin-top : 10px */

}
.ciliac-checkbox-active{
    width : 60px;
    height : 20px;
    /* border : 0px solid; */
    /* margin-top : 10px */

}