.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.app-container{
  width : 90%;
  margin : 0px auto
}
.table-container-center{
  margin-top: 2%

}
.general-heading{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2%
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.react-bs-container-body tr {
  border-top-style: hidden !important;
}
.material-icons-outlined.md-10 { font-size: 18px !important;color  : #007bff }
.material-icons-outlined { color  : #007bff }
.material-icons-outlined.red { color  : #721c24 }
.material-icons-outlined.green { color  : #28a745 }
.material-icons-outlined.white { color  : #ffff }
.red { color  : #d30215;
font-weight: 500 }
.green { color  : #28a745;
  font-weight: 500 }
.votes-on-card{
  /* vertical-align: text-bottom; */
  margin-right: 4px;
  font-size: 1.2rem
}

.react-bs-container-header tr {
  border-bottom-style: hidden !important;
}
.outline-success.color{border-color  : #007bff !important }
.App-link {
  color: #09d3ac;
}
.toggle-button {
  /* flex: 1 */
}

.toggle-button-box {

  height: 18px;
  width: 41px;
  border-radius: 10.29px;
  background-color: rgba(190, 165, 124, 0.3);
  margin-top: -5%;
  float: right;
  margin-right: 9%;
  cursor: pointer;
}
.react-bootstrap-table table {
  table-layout: auto;
  }
.toggle-button-oval {

  height: 24px;
  width: 24.3px;
  border-radius: 12px;
  background-color: #BEA57C;
  /* float: right; */

}
.gray-text{
  font-size: 18px;
  color : gray
}

.black-heading{
  font-size: 24px;
  color:black;
}

.comments-username{
    font-size: 24px;
    color: black
}
.comments-text{
font-size: 20px;
color : gray
}

.comments-box{
  border: 1px solid #f0f0f0;
padding: 2%
}
.navbar{
  /* padding: 0.5rem 6rem !important; */

}